menu "Environment"

config ENV_DRV_NONE
	bool
	default y if !ENV_DRV_EEPROM && !ENV_DRV_EXT4 && \
		     !ENV_DRV_FAT && !ENV_DRV_FLASH && \
		     !ENV_DRV_MMC && !ENV_DRV_NAND && \
		     !ENV_DRV_NVRAM && !ENV_DRV_ONENAND && \
		     !ENV_DRV_REMOTE && !ENV_DRV_SPI_FLASH && \
		     !ENV_DRV_UBI

config ENV_DRV_EEPROM
	bool

config ENV_DRV_FAT
	bool
	select FS_FAT
	select FAT_WRITE

config ENV_DRV_EXT4
	bool
	select EXT4_WRITE

config ENV_DRV_FLASH
	bool

config ENV_DRV_MMC
	bool
	depends on MMC

config ENV_DRV_NAND
	bool

config ENV_DRV_NVRAM
	bool

config ENV_DRV_ONENAND
	bool

config ENV_DRV_REMOTE
	bool

config ENV_DRV_SPI_FLASH
	bool

config ENV_DRV_UBI
	bool

source "env/Kconfig.uboot"

endmenu
